################################################# Python ################################################# 


################################################# Env / uv ################################################# 
.temp_env/ 
.uv/ 
uv.lock.bak 

################################################# Data ################################################# 
.data/ 

################################################# IDE / OS ################################################# 
.DS_Store 

